body {
    height: 100vh;
    background-color: rgb(212, 212, 212);
    font-weight: 200;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.front {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 350px;
    background-color: rgb(62, 139, 255);
    height: auto;
    height: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 15px;
    margin-top: 200px;
}

.textContainer{
    display: flex;
    align-items: center;
    padding-left: 20px;
    /* background-color: red; */
    width: 100%;
    height: 100%;
}

.icon {
    margin-right: 10px;
    user-select: none;
    cursor: pointer;
    transform: rotateZ(180deg);
    transition: 0.2s ease-in-out;
}

.rotateIcon {
    transform: rotateZ(0deg);
    transition: 0.2s ease-in-out;
}

.back {
    user-select: none;
    overflow: hidden;
    border-radius: 15px;
    height: 0px;
    margin: 5px auto;
    max-width: 350px;
    /* height: auto; */
    padding: 0px;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

li{
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 15px;
}

a {
    /* display: block; */
    text-decoration: none;
    color: rgb(87, 87, 87);
}

li:hover {
    background-color: rgba(122, 122, 122, 0.137); 
}

li:hover > a {

    color: rgb(12, 12, 12);
}

.hideUl {
    padding: 0px;
    margin: 0px;
}
